.home-page{
background-color: rgb(24, 155, 204);
text-align: center;
}
.favorite-page{
     background-color: rgb(24, 155, 204);
     text-align: center;
}
.favorite-content-div{
     font-family: 'Franklin Gothic Medium'
}

.navbar{
 background-color: aliceblue;
 display: flex;
 justify-content: space-around;
}
.navbar a{
    font-size: large;
    font-family: 'Franklin Gothic Medium';
    text-decoration: none;
}
  

.home-content-div{
    text-align: center;
    font-family: 'Franklin Gothic Medium'
}
.home-content-div p{
    font-size: small;
}